
.slider-appearance {

	.rc-slider-handle {
		//border-color: red;
		background-color: #E2E3E3;
		border-color: transparent;
		height: 9px;
		width: 9px;
		margin-left: -6px;
		margin-top: -4px;

		box-shadow: 0 2px 5px;

		&:hover {
			border-color: transparent;
			box-shadow: 0 3px 5px 1px;
		}		
	}

	.rc-slider-track {
		background-color: #D30000;
	}

}