
.container-comparator{
  position: relative;
  float: left;
  border: 1px solid @ks-color-gray-8;
  border-right: none;
  width: @comparator_W;
  height: @comparator_H;
}

.container-comparator-stretch{
  width: @comparatorStretch_W;
  height: @comparatorStretch_H;
  padding-right: 40px;
}

// comparator-chart-static

.comparator-chart-static{
  position: absolute;
  width: @comparatorStretch_W;
  height: @comparatorChartStatic_H ;
  top: 14px;
}

.comparator-chart-static-show{
  z-index: 1;
  .ks-show();
  .ks-fade-in();
}

.comparator-chart-static-hide{
  .ks-hidden();
}

// comparator-chart-screenshot

.comparator-chart-screenshot{
  position: absolute;
  width: 100%;
  top: 0;
}

.comparator-prediction-container{
  position: absolute;
  width: 25%;
  height: calc(~'50% - 24px - 2px');
  top: 3px;
  // right: calc(~'45px + 8px');
  right: 40px;

  .prediction-main{
    position: absolute;
    height: 100%;
    width: calc(~'100% - 9px');

    .comparator-header{
      position: absolute;
      height: 30px;
      width: 100%;
      background-color: #FEFFFF;
      top: 0;
      right: 0;
      z-index: 999;
      color: #000;
      box-shadow: 0 0 20px #ccc;


      span{
        font-size: 13px;
        line-height: 2;
        padding-left: 10px;
      }
    }

    .comparator-prediction-chart{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      box-shadow: inset 0 0 20px #ccc;
    }
  }

  .prediction-panel{
    position: absolute;
    width: 10px;
    height: 100%;
    right: 0;
    color: #000;

    .prediction-toggle{
      position: absolute;
      width: 100%;
      height: 30px;
      top: 0;
      padding: 0;
      margin: 0;
      border: none;
      outline: 0;
      z-index: 999;
      background-color: #A9AAAB;

      i{
        text-align: center;
        position: absolute;
        top: 8px;
        right: 2px;
        font-size: 10px;
      }

    }
    .comparator-heatmap{
      // top: 30px;
      position: absolute;
      width: 100%;
      // height: calc(~'100% - 30px');
      height: 100%;
      background-color: #F6DADD;
    }
  }
}

.comparator-prediction-hide{
  width: 0;
  z-index: -1;
  // transition: width 3s ease, z-index 0 ease 3s;
}
