@chartTitleH: 30px;

.crossfilter-container{
	position: relative;
	height: 100%;
	//border: 1px solid yellow;
	background-color: #fff;
	.toggle-btn {
		background-image: url('./image/toggle-normal.png');
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		margin-right: 10px;
		outline: none;
		border: none;
		display: inline-block;
		height: 1.3rem;
		width: 1.3rem;
		&.larger {
			background-image: url('./image/toggle-larger.png');
		}
	}
}

.crossfilter-container-stretch{
  .ks-fade-in();
  .ks-show();
}

.crossfilter-container-shrink{
  .ks-hidden();
}

.dc-chart-row{
	width: 100%;
	height: 50%;
	padding-top: 5.5%;
	position: absolute;
	top: 0;
	//padding-bottom: 4%;
	//border: 1px solid #ddd;
	&:nth-child(2) {
		padding-top: 5.5%;
		top: 50%;
		//padding-bottom: 4%;
	}
	&.full {
		background-color: rgba(255, 255, 255, 0.9);
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 10% 0 20% 0;
		z-index: 10;
	}
	strong{
		padding-left: 10px;
		display: block;
		height: @chartTitleH;
		font-size: 1.4rem;
		color: @lulu-black;
    font-weight: normal;
    .yield-btns-container {
    	// border: 1px solid @ks-color-gray-4;
    	float: right;
    	margin-right: 20px;
    	padding: 1px 4px;
    	box-shadow: 0 3px 10px 0 @ks-color-gray-8;
    	border-radius: 2px;
    	button {
    		font-size: 1.3rem;
    		border: none;
    		outline: none;
    		background-color: transparent;
    		color: @ks-color-gray-4;
    		padding: 2px 3px;
    		&:hover {
    			color: @lulu-red1;
    		}
    	}
    }
	}
	.inline-chart-wrapper {
		display: inline-block;
		position: absolute;
		width: 50%;
		height: 93%;
		top: 7%;
		background-color: rgba(255, 255, 255, 0);
		&:nth-child(1) {
			padding: 0;
			left: 0;
			&.full {
				background-color: rgba(255, 255, 255, 0.9);
				left: 0;
				top: -95%;
				height: 190%;
				width: 100%;
				padding: 10% 0;
				z-index: 10;
			}
		}
		&:nth-child(2) {
			left: 50%;
			padding: 0;
			&.full{
				background-color: rgba(255, 255, 255, 0.9);
				left: 0;
				top: -95%;
				height: 190%;
				width: 100%;
				padding: 30% 0;
				z-index: 10;
			}
		}
	}

}

.position-bubble-chart{
	width: 100%;
	height: calc(~"100% - "@chartTitleH);
}

.industry-quarter-chart{
	// height: calc(~"88% - "@chartTitleH);
	// width: 88%;
	width: calc(~"1vw*35/3 - 1px");
	height: calc(~"1vw*35/3 - 1px");

	max-height: calc(~"1vh*23.6 - 12px");
	max-width: calc(~"1vh*23.6 - 12px");
	transform-origin: -25% 0;
	
	position: relative;
	&.larger {
		transform: scale(1.8);
	}
}

.yield-count-chart{
	height: calc(~"88% - "@chartTitleH);
	min-height: 150px;
	width: 100%;
}

.industry-info-container {
	
	@width-mm: 34%;

	text-align: center;
	position: absolute;
	width: @width-mm;
	height: @width-mm;
	background-color: white;

	left: (100% - @width-mm) / 2;
	top: (100% - @width-mm) / 2;

	h4 {
		.font-number();
		font-size: 1.8rem;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	p {
		color: @ks-color-gray-7;
		font-size: 1.3rem
	}
}

.reset-btn-container {
	@width-mm: 34%;

	text-align: center;
	position: absolute;
	width: @width-mm;
	height: @width-mm;
	left: (100% - @width-mm) / 2;
	top: (100% - @width-mm) / 2;

	button {
		font-size: 1.4rem;
		text-align: center;
		border: none;
		outline: none;
		color: @ks-color-gray-4;
		background-color: white;
		box-shadow: 0 3px 10px 0 #cccccc;
		cursor: pointer;
		padding: 2px 6px;
	}
}

.madan-white-circle {
	@width-mm: calc(~"(100% - 13px)/1.8");

	position: absolute;
	width: @width-mm;
	height: @width-mm;
	left: calc(~"50% - (100% - 12px)/3.6");
	top: calc(~"50% - (100% - 13.5px)/3.6");
	background-color: white;
	border-radius: 50%
}

.dc-chart>svg {
	overflow: visible;
}