

.crossfilter-container{
	position: relative;
	height: 100%;
	//border: 1px solid yellow;
	background-color: #fff;
}

.crossfilter-container-stretch{
  .ks-fade-in();
  .ks-show();
}

.crossfilter-container-shrink{
  .ks-hidden();
}

.dc-chart-row{
	width: 100%;
	height: 50%;
	//border: 1px solid #ddd;
}

.position-bubble-chart{
	width: 100%;
	height: 100%;
}

.industry-quarter-chart{
	height: 100%;
	width: 50%;
}

.yield-count-chart{
	height: 100%;
	width: 50%;
}