

.crossfilter-container{
	position: relative;
	height: 100%;
	//border: 1px solid yellow;
	background-color: #fff;
}

.crossfilter-container-stretch{
  .ks-fade-in();
  .ks-show();
}

.crossfilter-container-shrink{
  .ks-hidden();
}
