@import 'stock-view.less';
@import 'search-report.less';

.container-coreapp{
	position: absolute;
	top: @header_H;
	left: 0;
	width: calc(~"100% - "@rightToolBar_W);
	height: calc(~"100% - "@header_H);
}