@import 'stock-view.less';
@import 'search-report.less';
@import 'comparator';
@import 'search-detail';
@import 'pattern';
@import 'statistics';
@import 'report';

.container-coreapp{
	position: absolute;
	top: @header_H;
	left: 0;
	width: calc(~"100% - "@rightToolBar_W);
	height: calc(~"100% - "@header_H);
}

.comparator-chart{
  position: absolute;
  width: calc(~"45.9%" - 8px);
  height: calc(100% - 9px);
  left: 7px;
  top: 53px;
  opacity: 0;
}

.comparator-chart-show{
  opacity: 1;
  z-index:100;
}

.comparator-chart-transition{
  transition: all .2s ease;
}
