@patternToolbar_H: 40px;//80px;
@patternStatisticsPanel_H: 8%;
//@patternView_W: @patternContainerStretch_W/2 - 13px - 8px - 10px;
@patternView_W: 130px; // @patternContainerStretch_W * 0.393;

@patternView_flat_W: @patternView_W; //130px

@larger: 1.08;
@smaller: 0.52;

.pattern-container{
	float: left;
	right: 0;
	width: @patternContainer_W;
	height: @patternContainer_H;
	//border-top: 1px solid @ks-color-gray-8;
	//border-bottom: 1px solid @ks-color-gray-8;

	//background-color: lighten(@ks-color-gray-8, 18%);

	&.full{
		width: @patternContainerStretch_W;
		height: @patternContainerStretch_H;
		//padding-right: 5px;
	}

	&.smaller{
		width: @patternContianerSmall_W;
	}
}

.pattern-toolbar-container{
	margin-left: 6.8%;
	height: @patternToolbar_H;
	z-index: 2;
	//border-bottom: 1px solid @ks-color-gray-8;
	&.hide{
		height: 0;
	}

	.toolbar-container{
		height: 100%;
		position: relative;
		z-index: 100;
	}

	.filterbar-container{
		height: 50%;
		.left-title {
			font-size: 1.2rem;
		}
	}

	.toolbar-item{
		// position: relative;
		float: left;
		display: inline-block;
		width: 50%;
		height: 100%;
		padding-left: 7px;

		h5 {
			color: @lulu-black;
			font-size: 1.3rem;
		}

		&.item0 {
			width: 25%;
		}

		&.item1 {
			width: 75%;
			z-index: 5;
		}
	}

	.title-left {
		display: inline-block;
		//width: px;
		font-size: 1.2rem;
		color: @lulu-gary3;
		padding: 5px 5%;
	}

	.slider-container{
		display: inline-block;
		width: 55%;
		padding-left: 3%;
		//padding: 8px;
	}

	//range slider container
	.inputrange-container{
		background-color: white;
		height: 37px;
		position: absolute;
		top: 30px;
		left: 7px;
		width: 120px;
		z-index: 100;

		padding: 12px 8px;

		//border: 1px solid @ks-color-gray-8;
		//border-top: none;
	}

	.child-panel-container {
		position: absolute;
		width: 100%;
		height: 3.2rem;
		// border: 1px solid #ddd;
		// left: -50px;
		top: 100%;
		z-index: 1000;
		background-color: white;
		left: 0;
		box-shadow: 0 5px 15px -12px #222;
		&.flex {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.eye-item{
			color: @ks-color-gray-5;
			&:before {
				display: inline-block;
				width: 2.6rem;
				color: @ks-color-gray-2;
			}
		}
	}

	.child-panel-search {
		position: absolute;
		right: 0;
		top: 0;
		background-color: white;
		width: 0;
		height: 2.6rem;
		overflow: hidden;
		margin: 4% 0;
		z-index: 100;
		&.active {
			width: 14rem;
		}

		input {
			width: 11rem;
			position: absolute;
			right: 3rem;
			outline: none;
			border: none;
		}
		.fa-close {
			font-size: 1.4rem;
			position: absolute;
			right: 1rem;
			padding-top: .4rem;
			color: @ks-color-gray-6;
			&:hover{
				color: @ks-color-gray-2;
			}
		}
	}
}

.pattern-bar-btn {
	// position: relative;
	float: right;
	//width: 1.4rem;
	//height: 1.4rem;
	margin: 5.9% 0;
	font-size: 1.2rem;
	background-color: transparent;
	border: none;

	&:focus {
		border: none;
		box-shadow: none;
		outline: none;
	}

	.icon {
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		width: 1.8rem;
		height: 1.8rem;
		&.active {
			background-position: 0 100%;
		}
	}

	.sort {
		background-image: url('./image/sort.png');
	}
	.filter {
		background-image: url('./image/filter.png');
	}
	.eye {
		background-image: url('./image/eye.png');
	}
	.search {
		background-image: url('./image/search.png');
		position: relative;
		background-color: white;
		z-index: 5;
		left: 0;

		&.active {
			left: -800%;
			background-position: 0 0;
		}
	}
}

//排序item btn
.sort-btn {
	text-align: left;
	display: block;
	width: 33.3%;
	float: left;
	//padding: 10px 10px;
	margin-top: 0.6rem;
	padding-left: 13px;
	font-size: 1.2rem;
	cursor: pointer;
	.sorticons-container {
		color: @ks-color-gray-8;	
		.fa-sort-desc {
			position: relative;
			left: -0.7rem;
		}

		.active {
			color: @ks-color-gray-2;
		}
	}

	.sort-icon {
		// float: right;
		margin-left: 0.6rem;
	}

	&:hover {
		text-decoration: none;
	}

	&.active {
		color: #E00028;
	}
}

.pattern-collection-container{
	position: relative;
	height: calc(~'100% - '@patternToolbar_H~' - '@patternStatisticsPanel_H);
	padding: 0;
	&.stretch{
		height: 100%;
		//padding: 30px;
	}
}

.pattern-collection{
	position: relative;
	height: 100%;
	overflow: scroll;
	padding: 10px 0 10px 2.8%;
	.scrollbar(@width:5px);
	.scrollbar-track(@background-color:transparent);
	.scrollbar-thumb();

	&.scroll-hidden{
		overflow: hidden;
		padding-top: 20px;
		padding-left: 0;
	}
}

.pattern-view{
	position: relative;
	float: left;
	width: @patternView_flat_W;
	height: @patternView_flat_W * 1.4;
	// transition: width, height 0.3s  0 ease;
	background-color: #fff;
	//border: 1px solid @ks-color-gray-8;
	overflow: hidden;

	margin: 3px;
	margin-top: 3%;
	margin-left: 6%;
	&:nth-child(2n) {
		margin-left: 6%;
	}

	&.hide {
		height: 0;
	}

	&:hover {
		//border: 1px solid RGBA(151, 165, 178, 1.00);
		z-index: 5;
		box-shadow: 0 0 15px 0 @ks-color-gray-8;
	}

	&:focus {
		background-color: red;
	}

	.symbol-container{
		// transition: top 0.1s ease-out;
		color: @ks-color-gray-4;
		height: 30px;
		width: 100%;
		padding-top: 5px;
		padding-left: 10px;
		font-size: 1.2rem;
		font-family: 'AvantGarde';
		//background-color: RGBA(151, 165, 178, 1.00);
		//background-image: -webkit-linear-gradient();
		position: absolute;
		top: 0;
		opacity: 0.8;
		&.hide-symbol{
			top: -30px;
		}
	}

	&.column{
		height: @patternView_W;
		width: @patternView_W*1.4;
		margin-left: 0;
		&.larger{
			//transform: scale(1.5,1.5);
			height: @patternView_W * 1.08;
			width: @patternView_W * 1.4 * 1.08;
			margin: 30px;
		}

		&.smaller{
			//transform: scale(.5,.5);
			height: @patternView_W * @smaller;
			width: @patternView_W * 1.4 * @smaller * 1.2;
			margin-top: 5px;
			//margin: 10px;
			&.s1 {
				margin-top: 30px;	
			}
			&.s2 {
				margin-top: 30px;
				margin-left:15px;
			}
			&.s3 {
				//margin-top: 10px;
				margin-bottom: 30px;
			}
			&.s4 {
				//margin-top: 10px;
				margin-bottom: 30px;
				margin-left: 15px;
			}

		}
	}

	&.active {
		border-radius: 2px;
		box-shadow: 0 3px 15px 0 rgba(179, 179, 179, 0.76);
	}	

	.reset-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		.fa-undo {
			font-size: 50px;
			color: @ks-color-gray-6;
		}
	}

}

.echart-row-wrapper {
	width: 140%;
	height: 71.4%;

	&.larger{
		width: @patternView_W * 1.4 * @larger;
		height: @patternView_W * @larger;
	}
	&.smaller{
		width: @patternView_W * 1.4 * @smaller * 1.2;
		height: @patternView_W * @smaller;
	}
}
//
.echart{
	float: left;
	position: relative;
	display: inline-block;
	width: 71.4%;
	height: 100%;
	cursor: pointer;
	transform-origin: left top;
	transform: scale(1,1);
	padding: 10px;
	@keyframes larger {
		from {transform: scale(1,1);} to {transform: scale(@larger, @larger);}
	}
	@keyframes smaller {
		from {transform: scale(1,1);} to {transform: scale(@smaller, @smaller);}
	}

	&.larger{
		width: @patternView_W * @larger;
		height: @patternView_W * @larger;
		//transform: scale(@larger,@larger);
		//transition-duration: 2s;
		//animation: .3s larger;
	}

	&.smaller{
		width: @patternView_W * @smaller;
		height: @patternView_W * @smaller;
		//transform: scale(@smaller, @smaller);
		//transition-duration: 2s;
		//animation: .3s smaller;
	}

	img{
		display: block;
		width: 100%;
		height: 100%;
	}

	.trashed-info {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		text-align: center;
		background-color: white;
		opacity: 0.6;
		padding-top: 40%;
		h1{
			margin: 1rem; 
			font-size: 2rem;
			// font-style: italic;
			font-weight: bold;
			color: @ks-color-gray-6;
		}
	}
}

.pattern-info-container {
	position: relative;
	height: 28.5%;
	width: 100%;

	&.column {
		height: 100%;
		width: 28.5%;
		display: inline-block;
		&.larger{
			width: @patternView_W * 0.4 * @larger;
		}
		&.smaller{
			width: @patternView_W * 0.4 * @smaller * 1.7;
		}
	}
	//border-top: 1px solid @ks-color-gray-8;
	h5{
		color: @lulu-gary1;
		font-size: 1.2rem;
		padding-top: 5px;
		margin: 0;
	}

	p{
		color: @lulu-black;
		font-size: 1.1rem;
		padding-top: 8%;
	}

	.pattern-info-switch-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.9);
		// opacity: 0.8
	}
}

//pattern info panel
.pattern-statistics-container{
	height: @patternStatisticsPanel_H;
	position: relative;
	// border: 1px solid green;
	.flex {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	button {
		border: none;
		background-color: white;
		outline: none;
		font-size: 1.5rem;
		.fa-trash {
			// padding-right: 10px;
		}
	}
	.statistics-slide-widget {
		position: absolute;
		//margin-left: 6.8%;
		width: 80%;
		left: 10%;
		height: 3.5rem; 
		top: 0;
		font-size: 1.2rem;
		z-index: 10;
		// border: 1px solid red;
		border-radius: 2px;
		color: @ks-color-gray-4;
		background-color: white;
		&.slide-up{
			box-shadow: 0 0 10px 0 #aaa;
			top:-3.5rem;
		}
		.fa-chevron-down {
			padding: 5px;
			cursor: pointer;
		}
	}
}

.pattern-statistics-panel {
	position: absolute;
	box-shadow: 0 -5px 15px -12px #222;
	margin-left: 6.8%;
	// margin-right: 6.8%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: @ks-color-gray-5;
	background-color: white;
	font-size: 1.3rem;
	z-index: 11;
	.black {
		padding: 0 0.5rem;
		color: black;
	}
	>span {
		// width: 40%;
		display: inline-block;
		text-align: left;
	}
	.trash-all-button {
		position: relative;
		.trash-panel-container {
			position: fixed;
			right: 0;
			top: 110px;
			width: 21%;
			height: calc(~"100% - 110px - 7.6%");
			background-color: #fff;
			box-shadow: inset 0 0 4px 0 #aaa;
			overflow: scroll;
			z-index: 1001;
		}
		// color: @lulu-red1;
		font-size: 2rem;
		.trashed-number {
			position: absolute;
			left: 1.3rem;
			top: -0.3rem;
			background-color: @lulu-red1;
			color: #fff;
			border-radius: 2px;
			font-size: 1rem;
			text-align: center;
			padding: 0 2px;
			min-width: 1.5rem;
		}
	}
}