@width0: 26%;
@width1: 24%;
@width2: 100% - @width0 - @width1;

@title_H: 26px;

.reportdetail-container {
	position: relative;
	height: 100%;
	//background-color: #F7F7F7;
}

.report-item {
	height: 50%;
	//float: left;
	//border: 1px solid @ks-color-gray-8;
	//border-top: none;
	.item-container{
		height: 100%;
	}

	.item-title{
		font-size: 0.85em;
		color: @lulu-gary2;
		text-align: center;
		height: @title_H;
		padding-top: 4%;
		margin: 0;
		//border-bottom: 1px solid @ks-color-gray-8;

		&.s2 {
			height: 35%;
			font-size: 1.1em;
			padding-top: 25px;
		}
	}

	.body-container{

		height: calc(~"100% - "@title_H);
		&.s2 {
			height: 65%;
			font-size: 0.75em;
		}

		.item-body{
			font-size: 0.8em;
		}

		.item-name{
			color: @lulu-gary1;
			padding-bottom: 7px;
		}

		.item-data{
			color: @lulu-black;
		}

	}

}

.result-item0 {
	width: @width0;
}
.result-item1 {
	width: calc(~'1px + '@width1);
	margin-left: -1px;

}
.result-item2 {
	width: calc(~'1px + '@width2);
	margin-left: -1px;
}

.result-item-righttop {
	position: absolute;
	top: 0;
	right: 0;
	width: 65%;
}

.result-item-rightbottom {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 65%;
}

//搜索空间  等信息
.reporttype-container{
	padding-top: 6.7%;
	height: 100%;
	font-size: 0.85em;
	//border-left: 1px solid @ks-color-gray-8;
	//border-right: 1px solid @ks-color-gray-8;
	//TODO: xiaolu
	.type-item-container{
		padding-left: 3%;
		padding-bottom: 4%;
		font-size: 1em;
		color: @lulu-gary3;
		//width: 49%;
		float: left;
		&:nth-child(2n-1){
			width: 42%;
		}
		&:nth-child(2n){
			width: 58%;
		}

		.lulu {
			color: @ks-color-gray-4;	
		}
	}
}



//动画效果要人命 >__<
@font-size-ww: 0.85em;
@font-size-mama: @font-size-ww * 2.2;
@width-bala: 30%;
@mama-top1: 35%;
@mama-top2: 50%;
@mama-width: 25%; 

.reportdetail-container {

	.days {
		//display: none;
		opacity: 0;
		top: @mama-top1;
		width: @mama-width;
		font-size: @font-size-ww;
		color: @ks-color-gray-6;
		//left: @mama-width;
		&.mama {
			opacity: 1;
		}
	}

	.days-value {
		//display: none;
		opacity: 0;
		top: @mama-top2;
		width: @mama-width;
		font-size: @font-size-mama;
		&.mama {
			opacity: 1;
		}
	}

	.shouyi {
		left: 0;
		top: 7%;
		font-size: @font-size-ww;
		width: @width-bala;
		color: @lulu-gary2;
	}

	.up-rate {
		left: 0;
		top: 56%;
		font-size: @font-size-ww;
		width: @width-bala;
		color: @lulu-gary2;
		&.mama {
			top: @mama-top1;
			left: @mama-width * 3;
			color: @lulu-gary2;
			width: @mama-width;
		}
	}

	.up-rate-value {
		left: 0;
		top: 73%;
		font-size: @font-size-ww * 2.2;
		width: @width-bala;
		&.mama {
			top: @mama-top2;
			left: @mama-width * 3;
			font-size:  @font-size-mama;
			width: @mama-width;
		}
	}

	.median {
		left: 0;
		top:22%;
		font-size: @font-size-ww;
		width: @width-bala * 0.5;
		color: @lulu-gary1;
		&.mama {
			top: @mama-top1;
			left: @mama-width;
			width: @mama-width;
		}
	}

	.median-value {
		left: 0;
		top: 34%;
		font-size: @font-size-ww;
		width: @width-bala * 0.5;
		&.mama {
			top: @mama-top2;
			left: @mama-width;
			font-size: @font-size-mama;
			width: @mama-width;
		}
	}

	.mean {
		left: 15%;
		top: 22%;	
		font-size: @font-size-ww;	
		width: @width-bala * 0.5;
		color: @lulu-gary1;
		&.mama {
			top: @mama-top1;
			left: @mama-width * 2;
			width: @mama-width;
		}
	}

	.mean-value {
		left: 15%;
		top: 34%;
		font-size: @font-size-ww;
		width: @width-bala * 0.5;
		&.mama {
			top: @mama-top2;
			left: @mama-width * 2;
			font-size: @font-size-mama;
			width: @mama-width;
		}
	}
}