@width0: 26%;
@width1: 24%;
@width2: 100% - @width0 - @width1;

@title_H: 26px;

.reportdetail-container {
	position: relative;
	height: 100%;
	//border: 1px solid red;
	background-color: #fff;
}

.report-item {
	height: 100%;
	float: left;
	border: 1px solid @ks-color-gray-8;
	border-top: none;
	//margin-left: -1px;
	//
	.item-container{
		height: 100%;
	}

	.item-title{
		font-size: 0.95em;
		color: @ks-color-gray-4;
		text-align: center;
		height: @title_H;
		padding: 5px;
		margin: 0;
		border-bottom: 1px solid @ks-color-gray-8;
	}

	.body-container{

		height: calc(~"100% - "@title_H);
		
		.item-body{
			font-size: 0.9em;
		}

		.item-name{
			color: @ks-color-gray-6;
			padding-bottom: 5px;
		}

		.item-data{

		}

	}

}

.result-item0 {
	width: @width0;
}
.result-item1 {
	width: calc(~'1px + '@width1);
	margin-left: -1px;

}
.result-item2 {
	width: calc(~'1px + '@width2);
	margin-left: -1px;
}


//搜索空间  等信息
.reporttype-container{
	padding-top: 10px;
	height: 100%;
	border-left: 1px solid @ks-color-gray-8;
	border-right: 1px solid @ks-color-gray-8;
	.type-item-container{
		padding-left: 10px;
		padding-top: 10px;
		font-size: 0.9em;
		color: @ks-color-gray-3;
		width: 49%;
		float: left;
	}
}

