
.scanner-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-size: 12px;
	.row {
		margin: 0;
		.col {
			float: left;
			width: 100%;
		}
	}
	.waiting-overlay {
		font-size: 30px;
		background-color: #262b2f;
		width: calc(~"100% - 10px");
		&.error {
			font-size: 14px;
			a.flat-btn {
				margin-left: 10px;
				color: #aaa;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.title {
		position: absolute;
		left: 25px;
		top: 20px;
		z-index: 1;
		font-size: 20px;
		font-weight: bold;
		width: calc(~"100% - 25px");
		>span {
			vertical-align: middle;
		}
		img {
			margin-left: 5px;
			cursor: pointer;
		}
		.date-info {
			margin-left: 100px;
			font-size: 14px;
		}
		.refresh {
			float: right;
			font-size: 12px;
			line-height: 28px;
			margin-right: 10px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.sub-title {
		font-size: 14px;
		margin: 0;
		line-height: 18px;
		margin-bottom: 15px;
	}
	.scanner-left {
		position: absolute;
		left: 0;
		top: 60px;
		width: calc(~"100% - 430px");
		height: calc(~"100% - 60px");
		// padding-left: 15px;
		// padding-right: 25px;
		// padding-top: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		margin: 0 10px;
		overflow: hidden;
		.filter-wrapper {
			position: absolute;
			white-space: nowrap;
			background-color: #262b2f;
			width: calc(~"100% - 37px");
			height: 41px;
			margin-left: 10px;
			.reset-container {
				display: inline-block;
				position: absolute;
				right: 0;
				z-index: 1;
				vertical-align: top;
				height: 40px;
				// padding-left: 20px;
				padding-right: 20px;
				background-color: #262b2f;
				margin-left: -5px;
				.info {
					display: inline-block;
					line-height: 40px;
					vertical-align: middle;
					.value {
						display: inline-block;
						width: 20px;
						text-align: center;
					}
				}
				button {
					vertical-align: middle;
				}
				button.reset {
					color: #aaa;
					margin-left: 20px;
					span {
						vertical-align: middle;
					}
					&:before {
						vertical-align: middle;
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						background-image: url(@icons_dark_url);
						.icon_position(2,7,1,5px,5px);
					}
					&:hover {
						color: #fff;
						&:before {
							.icon_position(0,7,1,5px,5px);
						}
					}
					&[disabled] {
						opacity: 0.5;
						&:hover {
							color: #aaa;
							&:before {
								.icon_position(2,7,1,5px,5px);
							}
						}
					}
				}
			}
		}
		.filter-table {
			z-index: 1;
			height: auto;
			overflow: hidden;
			font-size: 12px;
			position: relative;
			display: inline-block;
			background-color: #262b2f;
			&:hover {
				height: auto;
				>.filter-body {
					display: block;
				}
				&>table>tbody {
					border-top: 1px solid #222;
				}
			}
			.filter-title {
				padding: 14px;
				.fa {
					margin-right: 5px;
				}
			}
			>.filter-body {
				color: #aaa;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 40px;
				display: none;
				.name {
					position: relative;
					line-height: 50px;
					text-align: center;
					>span {

					}
					hr {
						border-top-color: #444;
						position: absolute;
						width: calc(~"50% - 40px");
						top: 50%;
						margin: 0;
						&:nth-child(2) {
							right: 0;
						}
					}
				}
				.body {
					width: 620px;
					white-space: normal;
					>span {
						display: inline-block;
						border-radius: 4px;
						margin-left: 6px;
						margin-right: 6px;
						margin-bottom: 3px;
						padding: 3px 0 3px 5px;
						cursor: pointer;
						&.active {
							background-color: #666;
							color: #fff;
						}
						&.disabled {
							opacity: 0.5;
							&:hover {
								cursor: default;
								color: #aaa;
							}
						}
						&:hover {
							color: #fff;
						}
						i {
							font-style: normal;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							display: inline-block;
							&:nth-child(1) {
								width: 70px;
							}
							&:nth-child(2) {
								width: 15px;
							}
						}
					}
				}
			}
			&>table {
				color: #aaa;
				margin-bottom: 10px;
				&>thead {
					line-height: 40px;
					th { padding: 0 15px; text-indent: 23px; }
				}
				&>tbody {
					border-top: 1px solid transparent;
				}
				&>tbody td {
					vertical-align: top;
					padding: 0 15px;
					padding-left: 12px;
					td {
						padding: 0;
						vertical-align: middle;
					}
				}
				table {
					display: block;
					max-height: 380px;
					overflow-y: scroll;
					.scrollbar();
					.scrollbar-thumb();
					.scrollbar-track();
					tr {
						line-height: 20px;
						cursor: pointer;
						&.active {
							font-weight: bold;
							color: #fff;
						}
						&.disabled {
							color: #666;
							cursor: default;
						}
						&:hover {
							&:not(.disabled):not(.active) {
								color: #eee;
							}
							
						}
						td {
							span {
								display: inline-block;
								min-width: 20px;
								max-width: 100px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							&:nth-child(1) {
								padding-right: 5px;
							}
							&:nth-child(2) {
								padding-right: 8px;
							}
							&:nth-child(3) {

							}
						}
					}
				}
			}
			input[type="checkbox"] {
				display: none;
				& + label {
					display: inline-block;
					height: 20px;
					width: 20px;
					margin: 0;
					background-image: url(@icons_dark_url);
					.icon_position(0, 0, 0, -50px, -50px);
					&:before {
						content: '';
						display: inline-block;
						width: 15px;
						height: 15px;
						border: 1px solid #1a1a1a;
						margin-left: 2px;
						margin-top: 2px;
					}
				}
				&:checked + label {
					.icon_position(2, 5, 3, 6px,4px);
				}
			}
		}
		.table-header {
			margin-top: 50px;
			width: calc(~"100% - 36px");
			color: #666;
			margin-left: 10px;
			>span {
				display: inline-block;
				width: 13.3333333333%;
				text-align: center;
				line-height: 2;
			}
		}
		.list-wrapper, .list-wrapper-past {
			position: relative;
			height: calc(~"100% - 140px");
			overflow-y: scroll;
			margin-right: 10px;
			padding-right: 10px;
			padding-left: 10px;
			.scrollbar();
			.scrollbar-thumb();
			.scrollbar-track();
			>.item {
				background-color: #2B2F33;
				margin-top: 7px;
				margin-bottom: 7px;
				// padding: 5px 0;
				overflow: auto;
				line-height: 2;
				text-align: left;
				font-size: 14px;
				position: relative;
				@width-base: 100% / 15 * 2;
				.section1 {
					padding: 5px 0;
					border-bottom: 1px solid transparent;
				}
				.section1 > span {
					text-align: center;
					position: relative;
					// border: 1px solid lightblue;
					// float: left;
					display: inline-block;
					width: @width-base;
					vertical-align: middle;
					>div {
						overflow: hidden;
						text-overflow: ellipsis;
					}
					&:nth-child(2) {
						font-size: 16px;
					}
				}
				.section2 {
					height: 0;
					overflow: hidden;
					padding: 0;
					font-size: 12px;
					line-height: 1;
					// transition: height 0.5s linear;
					.prediction-wrapper {
						padding: 12px 15px 12px 12px;
						display: inline-block;
						width: calc(~"100% - 200px");
						max-width: 800px;
						.chart {
							position: relative;
							height: 275px;
							.caption {
								position: absolute;
								left: 70px;
								p {
									margin-bottom: 5px;
								}
							}
							.heatmap-chart {
								position: absolute;
								width: 70px;
								height: calc(~"80% - 16px");
								top: 0;
								right: 0;
							}
						}
						.statistic {  //
							background-color: #2a2f32;
							text-align: center;
							font-size: 14px;
							// padding: 10px 0;
							div:nth-child(1) {
								color: #999;
								margin-bottom: 10px;
							}
						}
					}
					//right-pane
					.info-wrapper {
						display: inline-block;
						width: 200px;
						padding: 12px 12px 12px 0;
						vertical-align: top;
						* {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.info-container {
							// margin-bottom: 80px;
						}
						.no-jiejin {
							margin-bottom: 30px;
							display: inline-block;
						}
						.info-section {
							line-height: 1.5;
							margin-bottom: 15px;
							.full-name {
								height: 30px;
								white-space: normal;
								line-height: 1.3;
							}
							>div {
								.des {
											
								}
								>span:nth-child(2) {
									margin-left: 15px;
									color: #fff;
								}
							}
							&:nth-child(1) {
								color: #fff;
								>div[title] { //full name
									max-width: 155px;
								}
								div>span:nth-child(1) { //行业 板块
									display: inline-block;
									max-width: 70px;
								}
								div>span:nth-child(2) {
									display: inline-block;
									max-width: 70px;
									// color: #999;
								}
							}
							&:nth-child(2) {
								color: #999;
								div:nth-child(2),  //总市值
								div:nth-child(3),  //市盈率
								div:nth-child(5) { //市净率
									.des { letter-spacing: 6.7px; }
									>span:nth-child(2) { margin-left: 9px; }
								}
							}
							&:nth-child(3) {
								color: #999;

							}
						}
						button {
							display: block;
							width: 180px;
							line-height: 20px;
							margin-bottom: 7px;
							&.btn-dark {
								margin-bottom: 0;
							}
						}
					}
				}
				button.detail {
					position: absolute;
					right: 20px;
					top: 20px;
					font-size: 10px;
					color: #aaa;
					&:hover {
						color: #fff;
					}
					.fa {
						transform: rotate(90deg);
					}
					>span {
						margin-left: 5px;
					}
				}
				&.expand {
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
					.section1 {
						// display: none;
						border-color: #222;
						background-image: linear-gradient(180deg,#2C3236,#282C2F);
					}
					.section2 {
						// height: 300px;
						height: auto;
					}
					button.detail {
						// top: 10px;
						// right: 10px;
						.fa {
							transform: rotate(-90deg);
						}
					}
				}
			}
		}
		.list-wrapper-past {
			height: calc(~"100% - 60px");
			@base-width: 100% / 6;
			.item {
				overflow: visible;
			}
			.item .section1>span {
				width: @base-width;
			}
		}
		.past-wrapper {
			.select-ct {
				display: inline-block;
				// border: 1px solid #666;
				// padding:  0 10px;
				vertical-align: middle;
			}
			select {
				outline: none;
				border: none;
				height: 40px;
				background-color: transparent;
				border-radius: 0;
				width: 100px;
			}
			button.btn-red {
				line-height: 30px;
				padding: 0 20px;
				margin-left: 10px;
				vertical-align: middle;
			}
			.right {
				position: absolute;
				right: 0;
				top: 5px;
			}
			.toolbar {
				padding: 5px 0;
				padding-left: 20px;
				position: relative;
			}
			.table-header {
				margin-top: 10px;
				line-height: 2;
				>button, >span {
					width: 100% / 6;
					white-space: nowrap;
					// padding-left: 10px;
				}
				button.flat-btn {
					padding: 0;
					position: relative;
					.sort-icon {
						position: absolute;

					}
				}
				.sort-btn.asc, .sort-btn.desc {
					color: #fff;
				}
			}
			.stock-num {
				margin-left: 10px;
				margin-right: 26px;
			}
		}
		.footer {
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 10px;
			line-height: 1.5;
			color: #aaa;
		}
		.header {
			border-bottom: 1px solid #383E43;
			height: 50px;
			position: relative;
			.active-line {
				position: absolute;
				bottom: 0;
				width: 100px;
				height: 3px;
				background-color: @brown-red;
				left: 33px;
				transition-duration: 0.1s;
			}
			button.flat-btn {
				font-size: 16px;
				color: #999;
				border-bottom: 2px solid transparent;
				padding: 10px 0;
				margin-left: 35px;
				margin-top: 12px;
				&:hover {
					color: #eee;
				}
				&.active {
					color: #fff;
					&.past {
						& + .active-line {
							left: 164px;
						}
					}
					// border-bottom-color: @brown-red;
				}
			}
		}
		.content {
			position: absolute;
			left: 0;
			top: 50px;
			width: 100%;
			height: calc(~"100% - 50px");
			.recent-wrapper,.past-wrapper {
				position: absolute;
				height: 100%;
				width: 100%;
				padding: 10px 0;
			}
			.past-wrapper {
				left: 100%;
			}
			&.past {
				.recent-wrapper { left: 100%; }
				.past-wrapper { left: 0; }
			}
		}
	}
	.scanner-right {
		position: absolute;
		top: 60px;
		right: 10px;
		width: 400px;
		height: calc(~"100% - 60px");
		padding-bottom: 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		.inner {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 20px;
			&.backtest {
				padding: 0;
				padding-top: 20px;
				.sub-title {
					padding-left: 20px;
					padding-right: 120px;
					font-size: 16px;
				}
				.content {
					padding-left: 20px;
				}
				.backtest-chart {
					margin-right: 20px;
				}
			}
		}
		.flat-btn.briefing {
			position: absolute;
			top: -30px;
			left: 10px;
		}
		.flat-btn.backtest {
			position: absolute;
			top: -30px;
			left: 100px;
		}
		&.part1 {
			.inner:nth-child(1) { left: 0; }
			.inner:nth-child(2) { left: 100%; }
		}
		&.part2 {
			.inner:nth-child(1) { left: 100%; }
			.inner:nth-child(2) { left: 0; }
		}
		.content {
			height: calc(~"100% - 50px");
			overflow-y: scroll;
			.scrollbar();
			.scrollbar-track();
			.scrollbar-thumb();
		}
		.scanner-info {
			font-weight: bold;
			margin-bottom: 5px;
			p {
				margin-bottom: 5px;
				color: #999;
				>span {
					color: #fff;
					margin-left: 5px;
				}
				.value {
					margin-left: 1px;
					margin-right: 1px;
					font-size: 120%;
				}
			}
			.col:nth-child(1) {
				p>span {
					margin-left: 28px;
				}
			}
			.col:nth-child(2) {
				p:nth-child(2)>span {
					margin-left: 30px;
				}
			}

		}
		.backtest-info {
			color: #999;
			margin-bottom: 30px;
			line-height: 1.5;
			padding-right: 20px;
		}
		.clearfix {
			margin-bottom: 30px;
		}
		.charts-container {
			padding-right: 10px;
		}
		.piecharts-wrapper {
			margin-bottom: 15px;
			>span {
				display: table-cell;
			}
			svg {
				width: 80px;
				height: 80px;
				margin-bottom: 15px;
			}
			figcaption {
				text-align: center;
			}
		}
		.barcharts-wrapper {
			position: relative;
			.chart-wrapper {
				display: block;
				// padding: 10px 20px;
				margin-bottom: 20px;
				figcaption {
					margin-bottom: 6px;
					padding-left: 6%;
				}
				.svg-container {
					position: relative;
					max-height: 110px;
					overflow-y: scroll;
					padding-right: 20px;
					.scrollbar();
					.scrollbar-thumb();
					.scrollbar-track();
					svg {
						width: 100%;
						height: auto;
					}
				}
			}
		}

	}
	@media (min-width: 1600px) {
		.row{
			.col {
				width: auto;
				&.flex-between {
					flex-direction: column;
					min-width: 160px;
					>* {
						margin-top: 22px;
						margin-bottom: 22px;
					}
				}
				&.barcharts-wrapper {
					width: calc(~"100% - 150px");
					max-width: 421px;
				}
				&:nth-child(2) {
					margin-left: 30px;
				}
			}
		}
		.scanner-left {
			width: calc(~"100% - 730px");
		}
		.scanner-right {
			width: 700px;
			.piecharts-wrapper {

			}
			.barcharts-wrapper {
				.chart-wrapper {
					// height: 130px;
					.svg-container {
						height: 115px;
						max-height: none;
					}
				}
			}
		}

	}
}



.pie-process {
	g {
		transform-origin: 50% 50%;
	}
	circle {
		fill: transparent;
		stroke-width: 9;
		stroke: #fff;
		&:first-child {
			stroke: rgba(255, 255, 255, 0.1);
		}
	}

	text {
		font-size: 20px;
		fill: #fff;
		text-anchor: middle;
		tspan {
			alignment-baseline: baseline;
			&:first-child {
				font-size: 35px;
			}
		}
	}
}

.svg-bar-chart {
	rect {
		fill: #fff;
		&.bg {
			fill: rgba(255, 255, 255, 0.22);
		}
	}
	text {
		alignment-baseline: middle;
		fill: #111;
	}
	text.label {
		text-anchor: end;
		fill: #fff;
	}
}

.backtest-chart {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: relative;
	padding-top: 20px;
	.chart-header {
		color: #666;
		padding-left: 50px;
	}
	.legend {
		margin-top: 5px;
		span:nth-child(1) {
			color: #fff;
			&:before {
				content: '';
				margin-right: 3px;
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 2px;
				background-color: #fff;
			}
		}
		span:nth-child(2) {
			color: @brown-red;
			&:before {
				content: '';
				margin-right: 3px;
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 2px;
				background-color: @brown-red;
				margin-left: 20px;
			}
		}
	}

	.chart-container {
		position: relative;
		height: 260px;
	}
	.tool-tip {
		display: inline-block;
		min-width: 80px;
		height: 100px;
		background-color: #1E2327;
		padding: 15px;
		border: 1px solid #1E2327;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
		position: absolute;
		&.right {
			right: 0;
		}
		label {
			color: #999;
		}
		.legend {
			margin-top: 10px;
			span {
				display: block;
				margin-top: 5px;
				&:before { margin-right: 10px; }
				&:nth-child(2):before { margin-left: 0; }
			}
		}
	}
	ul {
		padding: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		li {
			list-style: none;
			display: inline-block;
			width: 70px;
			// height: 45px;
			line-height: 40px;
			text-align: center;
			color: #eee;
			cursor: pointer;
			&.active {
				background-color: #191d21;
				color: #fff;
			}
		}
	}
}

.prediction-chart {
	position: absolute;
	width: 100%;
	height: 100%;
	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.main-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&.axis .main-wrapper {
		width: calc(~"100% - 50px");
		height: calc(~"100% - 20px");
		left: 50px;
		top: 0;
	}
	.bottom-axis-x-wrapper {
		position: absolute;
		height: 20px;
		width: 100%;//calc(~"100% - 50px - 70px");
		bottom: 0;
		left: 0;//50px;
	}
	.left-axis-y-wrapper {
		position: absolute;
		width: 50px;
		height: 100%;//calc(~"100% - 20px");
		left: 0;
		top: 0;
	}
}

.kline-tooltip-container {
	position: absolute;
	top: -5px;
	left: calc(~"100% - 20px");
	// width: 200px;
	// height: 200px;
	z-index: 2;
	background-image: linear-gradient(180deg, #353B40, #303539);
	padding: 10px;
	text-align: left;
	overflow: visible !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	&.bottom {
		top: auto;
		bottom: -5px;
		&:before {
			top: auto;
			bottom: 20px;
			background-color: #303539;
		}
	}
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		left: -7px;
		top: 15px;
		width: 15px;
		height: 15px;
		transform: rotate(45deg);
		background-color: #353B40;
	}
	.symbol {

	}
	.close-price {
		float: right;
	}
	.chart {
		position: relative;
		width: 300px;
		height: 160px;
		background-color: #292E33;
		.waiting-overlay {
			width: 100%;
		}
	}
	.axis .main-wrapper {
		width: calc(~"100% - 40px");
		left: 40px;
		z-index: 1;
	}
	.bottom-axis-x-wrapper {
		width: 100%;//calc(~"100% - 40px");
		left: 0;
	}
	.left-axis-y-wrapper {
		width: 100%;
	}
}
