
.container-searchreport{
	border: 1px solid #aaa;
	position: relative;
	height: 35%;
}

.inner-searchreport{
	position: relative;
	height: 100%;
	padding: 20px 5px 10px 5px;
	border: 1px solid #aaa;
	margin: 10px 5px;
}

.searchreport-full{
	height: 100%;
}