
@metaW: 750;
@statisticW: 460;
@chartW: 330;

.container-ks-sr {
	position: relative;
	height: 100%;
	// box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	float: left;
	// border-radius: 5px;
	.title {
		font-size: 13px;
		color: #000;
		margin-left: 30px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.search-result-info {
		position: absolute;
		font-size:  10px;
		left: calc(~"33.33% + 20px");
		top: 15px;
		.value {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.split-line {
		display: inline-block;
		position: absolute;
		bottom: 23px;
		width: 1px;
		height: 55px;
		border-left: 1px dashed #aaa;
	}
	.info-item {
		display: inline-block;
		text-align: center;
		margin-top: 16px;
		.item-title {
			font-size: 12px;
			color: #666;
		}
		.item-value {
			color: #000;
			margin-top: 10px;
			font-size: 20px;
			.unit {
				font-size: 60%;
				padding-left: 3px;
			}
			&.red {
				color: @brown-red;
			}
			&.small {
				font-size: 14px;
			}
			&.size10{
				font-size: 10px;
			}
		}
	}
}

.container-ks-st {

}

.container-ks-sr.meta {
	background-color: #fff;
	margin-left: 20px;
	width: calc(~"100% - 40px");//calc(~'(100% - 60px)*'@metaW/(@metaW + @statisticW + @chartW));
	.info-item {
		width: 8.333%;//14.13%;
		float: left;
	}

	.timespent {
		.item-value {
			margin-top: 18px;
			font-size: 12px;
			.unit {
				font-size: 90%;
			}
		}
	}
	.total {

	}

	.l1 {
		left: 8.33%;
	}
	.l2 {
		left: 16.66%;
	}
	.l3 {
		left: 25%;
	}
	.l4 {
		left: 33.33%;
	}

	.pattern-wrapper {
		display: inline-block;
		position: relative;
		float: left;
		width: calc(~"33.33% - 30px");//55.33%;
		margin-left: 20px;
		height: 80px;
		margin-top: 5px;
		border-radius: 2px;
		border: 1px solid #ddd;
		// box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		.pattern-inner {
			position: relative;
			width: 100%;
			height: 100%;
			white-space: nowrap;
			// box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			// left: 8px;
			// bottom: 5px;
			// background-color: #fff;
		}
		.symbol {
			width: 26%;
			float: left;
			padding-left: 10px;
			padding-right: 10px;
		}
		.similarity {
			width: 19%;
			float: left;
		}
		.earn {
			min-width: 20%;
			float: left;
		}
		.kline {
			float: left;
			display: inline-block;
			width: 35%;
			height: 60px;
			margin-top: 10px;
		}
	}
}

.container-ks-sr.statistic {
	margin-left: 10px;
	width: calc(~'(100% - 60px)*'@statisticW/(@metaW + @statisticW + @chartW));
	.bars, .uprate, .median, .mean {
		width: 25%;
		float: left;
	}
	.l1 {
		left: 25%;
	}
	.l2 {
		left: 50%;
	}
	.l3 {
		left: 75%;
	}

}

.container-ks-sr.chart {
	margin-left: 10px;
	width: calc(~'(100% - 60px)*'@chartW/(@metaW + @statisticW + @chartW));
	.earnchart-wrapper {
		display: inline-block;
		width: calc(~"100% - 20px");
		position: relative;
		height: 80px;
		margin-left: 10px;
		margin-top: 5px;
		.earnchart {
			position: absolute;
			width: 100%;
			height: 100%;
			// border: 1px solid green;
		}
	}
}