@reportContainer_H: 90px;


.statistics-container{
	float: left;
	width: @statisticsContainer_W;
	height: @statisticsContainer_H;

	&.full{
		width: @statisticsContainerStretch_W;
		height: @statisticsContainerStretch_H;
	}

	&.larger{
		width: @statisticsContainerLarger_W;
	}
}

.report-container-wrap {
	height: @reportContainer_H;
	border: 1px solid green;
	margin: 0;
	&.stretch{
		height: @reportContainer_H*1.8;
		margin: 5px;
	}
}

.crossfilter-container-wrap {
	height: calc(~'100% - '@reportContainer_H*3);
}