
.statistics-container{
	float: left;
	width: @statisticsContainer_W;
	height: @statisticsContainer_H;

	&.full{
		width: @statisticsContainerStretch_W;
		height: @statisticsContainerStretch_H;
	}

	&.larger{
		width: @statisticsContainerLarger_W;
	}
}