
.container-stockview{
	//border: 1px solid #aaa;
	position: absolute;
	width: calc(~"100% - 0px");
	height: @stockViewContainer_H;
  opacity: 1;
  padding-left: 0;//20px;
  padding-right: 10px;
  @left-width: 60px;
  border-bottom: 1px solid #fafafa;
	.left-toolbar-container {
		position: absolute;
		left: 0;
		top: 0;
		width: @left-width;
		height: 100%;
		border-right: 1px solid #fafafa;
		button {
			// width: 40px;
			// display: inline-block;
		}
	}
	.content-wrapper {
		position: absolute;
		top: 0;
		left: @left-width;
		width: calc(~"100% - "@left-width);
		height: calc(~"100% - 20px");

		&.favorites {
			background-color: #fff;
		}
		&.history {
			background-color: #fff;
		}
	}

	.nav-container {
		float: left;
		position: relative;
		border-right: 1px solid #ddd;
		width: 200px;
		height: 100%;
	}

	.body-container {
		float: left;
		position: relative;
		// border: 1px solid green;
		background: #f9f9f9;
		width: calc(~"100% - 200px");
		height: 100%;
		overflow: scroll;
		.scrollbar(@width:6px);
		.scrollbar-track(@background-color:transparent);
		.scrollbar-thumb(@background-color: @ks-color-gray-4);
	}
}


.stockview-hide{
}

.history-day-wrapper {
	// clear: both;
	border: 1px dotted #aaa;
	float: left;
	padding-left: 30px;
	margin-bottom: 20px;
}

.history-items-wrapper {

	.history-item {
		float: left;
		width: 300px;
		height: 270px;
		box-shadow: 0 0 10px 0 #aaa;
	}
}

.content-wrapper {
	.nav-container {
		.nav-title {
			margin: 20px;
			font-size: 15px;
		}
	}
	//编辑
	.detail-panel {
		position: absolute;
		left: 200px;
		top: 0;
		width: calc(~"100% - 200px");
		height: 100%;
		background: #f9f9f9;

		.head-nav {
			height: 50px;
		}
		.search-editor-container {
			position: relative;
			height: calc(~"100% - 50px - 40px");
			background: #fff;
			margin: 0 40px;
			box-shadow: 0 0 20px #ddd;
		}
	}
}