
.watchlist-header-wrapper {
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
	.title {
		font-size: 20px;
	}
	.config-info {
		font-size: 10px;
		margin-left: 40px;
	}
	[role="config-data"] {
		font-weight: bold;
	}
	[role="edit-watchlist"] {
		margin-left: 20px;
	}
}

.watchlist-body-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(~"100% - 60px");
	overflow-y: scroll;
	.scrollbar();
	.scrollbar-thumb();
	.scrollbar-track();
}
//cell
.watchlist-prediction-wrapper {
	width: calc(~"50% - 20px");
	height: 390px;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	line-height: 1;
	.charts-wrapper {
		position: absolute;
		width: calc(~"100% - 235px");
		height: 100%;
		left: 0;
		top: 0;
		.chart-header {
			margin-top: 15px;
			margin-left: 25px;
			.describe {
				font-size: 14px;
			}
			.symbol {
				font-size: 12px;
			}
		}
		.chart-body {
			position: absolute;
			width: calc(~"100% - 20px");
			height: 250px;
			left: 10px;
			top: 75px;
			.prediction-chart {
				position: absolute;
				width: calc(~"100% - 70px");
				height: 100%;
				top: 0;
				left: 0;
			}
			.heatmap-chart {
				position: absolute;
				width: 70px;
				height: 100%;
				right: 0;
				top: 0;
			}
		}
	}
	@color-title: #999;
	.info-container {
		position: absolute;
		top: 0;
		right: 0;
		width: 235px;
		height: 100%;
		padding-top: 40px;
		.statistic-container {
			hr {
				border-color: @color-title;
				margin-left: 20px;
				margin-right: 20px;
				margin-top: 30px;
				margin-bottom: 30px;
			}
			.statistic-item {
				display: inline-block;
				width: 50%;
				text-align: center;
				.title {
					margin-bottom: 20px;
					color: @color-title;
				}
			}
			.percent-info {
				font-size: 16px;
				font-weight: bold;
				color: #e0e0e0;
				span:last-child {
					margin-left: 2px;
				}
			}
		}
		.price-container {
			padding-top: 10px;
			.price-item {
				display: inline-block;
				width: 50%;
				text-align: center;
				vertical-align: top;
				.title {
					margin-bottom: 20px;
					color: @color-title;
				}
				.percent-info {
					animation-duration: 0.3s;
					font-size: 16px;
					&.red {
						color: @brown-red;
					}
					&.green {
						color: @ks-color-green-grass;
					}
				}
				&:nth-child(1) {
					.percent-info {
						line-height: 14px;
						font-size: 20px;
						span:nth-child(1) {
							font-size: 26px
						}
						span:last-child {
							display: none;
						}
					}
				}
			}
		}
	}
	.inputs-group-wrapper {
		position: relative;
		display: inline-block;
	}
}

.symbol-list-container {
	position: absolute;
	z-index: 2;
	// width: 300px;
	max-height: 200px;
	top: calc(~"100% + 1px");
	overflow: scroll;
	border: 1px solid rgba(255, 255, 255, 0.1);
	.symbol-item {
		padding-left: 20px;
		padding-right: 20px;
		white-space: nowrap;
		text-align: left;
		font-size: 12px;
		span {
			line-height: 1.6;
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:nth-child(1) {
				width: 100px;
			}
			&:nth-child(2) {
				width: 100px;
			}
			&:nth-child(3) {
				font-size: 80%;
			}
		}
	}
}
//编辑列表
.watch-list-dropdown {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1001;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
	.header-wrapper {
		padding: 10px;
	}
	.body-wrapper {
		white-space: nowrap;
		overflow-y: scroll;
		max-height: 280px;
		min-height: 100px;
		margin-left: 20px;
		margin-right: 20px;
		.scrollbar();
		.scrollbar-thumb();
		.scrollbar-track(@background-color:transparent);
	}
	.footer-wrapper {
		white-space: nowrap;
		padding-left: 20px;
		margin-top: 20px;
		margin-bottom: 30px;
		.save,.cancel {
			height: 35px;
			border-radius: 2px;
			letter-spacing: 3px;
			width: 125px;
		}
		.save {
			background-color: @brown-red;
			&:hover {
				background-color: @brown-red-light;
			}
		}
		.cancel {
			margin-left: 10px;
			border: 1px solid #eee;
		}
	}
	.watch-list-item {
		overflow: hidden;
		cursor: move;
		margin-bottom: 1px;
		line-height: 40px;
		background-color: #eee;
		&.active {
			background-color: #aaa;
		}
		.describe {
			display: inline-block;
			width: 150px;
			padding-left: 20px;
			padding-right: 5px;
			text-align: left;
			white-space: nowrap;
			text-overflow: ellipsis;	
		}
		.symbol {
			display: inline-block;
			width: 100px;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		button.delete {
			display: none;
		}

	}
}

//添加watch-list
.add-info-wrapper {
	margin-top: 30px;
	text-align: center;
	.description {
		font-size: 12px;
		line-height: 1.8;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
.add-input-wrapper {
	text-align: center;
	.inputs-group {
		display: inline-block;
		border: 1px solid #eee;
		>* {
			vertical-align: middle;
		}
		.search-icon {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-left: 10px;
			margin-right: 10px;
			background-image: url(@icons_url);
			.icon_position(0,5,0);
		}
		input {
			outline: none;
			border: none;
		}
		.flat-btn.border-btn {
			line-height: 28px;
		}
	}
}