
@header_H:  60px;
@header_W: 	100%;

@rightToolBar_H: 100%;
@rightToolBar_W:  10px; //40px;

@searchResultWrap_H: 240px;
@searchResultWrap_T: calc(~"100% -"@searchResultWrap_H);
@stockViewContainer_H: calc(~"100% -"@searchResultWrap_H);

// comparator
@comparator_H: 100%;
@comparator_W: 25%;

//@searchDetail_W: 830px; //固定值
@searchDetail_W: 52.5%;   //固定比例

@comparatorStretch_H: 100%;
@comparatorStretch_W: calc(~"100% - "@searchDetail_W);
@comparatorChartStatic_H: calc(~'100% -  '@header_H);

@patternContainer_W: 510px; //old = 50%;
@patternContainer_H: 100%;
//@patternView_W: 100px;
//@patternView_H: @patternView_W * 1.3;
//@patternCollection_W: @patternView_W + 20px;
@patternContainerStretch_W: 40%;//302px + 10px + 20px;  //固定值
@patternContainerStretch_H: 100%;

@statisticsContainer_W: calc(~'100% - '@patternContainer_W);
@statisticsContainer_H: 100%;
@statisticsContainerStretch_W: calc(~'100% -'@patternContainerStretch_W);
@statisticsContainerStretch_H: 100%;

@patternContianerSmall_W: @patternContainerStretch_W/2;
@statisticsContainerLarger_W: calc(~'100% -'@patternContianerSmall_W);

@ks-color-gray-middle: #F5F5F5;
@ks-color-gray-light: #E8E8E8;
@ks-color-gray-1: lighten(#000, 10%);
@ks-color-gray-2: lighten(#000, 20%);
@ks-color-gray-3: lighten(#000, 30%);
@ks-color-gray-4: lighten(#000, 40%);
@ks-color-gray-5: lighten(#000, 50%);
@ks-color-gray-6: lighten(#000, 60%);
@ks-color-gray-7: lighten(#000, 70%);
@ks-color-gray-8: lighten(#000, 80%);
@ks-color-gray-9: lighten(#000, 90%);
@ks-color-gray-10: lighten(#000, 100%);

//蓝色
@ks-color-blue-dark:			#58666f;
@ks-color-blue-lightdark:		#418bca;
@ks-color-blue-light:			#0095df;
@ks-color-blue-sky:				#C1EBEA;
//红色
@ks-color-red-light:			#ed5565;

//粉色
@ks-color-pink:					#E7E4EF;
//绿色
@ks-color-green-middle:			#7FBC73;
@ks-color-green-light:			#E2F0DF;
@ks-color-green-grass:			#85BD50;

//
@logo_url: "./image/logo.jpg";


//color
