.container-header{
	position: absolute;
	top: 0;
	left: 0;
	height: @header_H;
	width: @header_W;
	background: url(@logo_url) no-repeat;
	background-position: 10px;

	z-index: 100;

	box-shadow: 0 0 30px rgba(204, 204, 204, 0.49);
}

.header-toolbar-container {
	position: absolute;
	right: 0;
	// width: 50%;
	height: 100%;
	padding: 0 10px;
}