.container-header{
	// border-top: 1px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
	height: @header_H;
	width: @header_W;
	z-index: 100;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	.header-icon {
		background: url(@icons_url) no-repeat;
		// background: url(@logo2_url) no-repeat;
		// background-size: contain;
		display: inline-block;
		width: 60px;
		height: 40px;
		// margin-top: 5px;
		margin-left: 15px;
		// margin-top: 5px;
	}
}

.header-toolbar-container {
	position: absolute;
	right: 120px; //20px
	// width: 50%;
	top: 0;
	height: 100%;
	padding: 0 10px;
	button {
		position: relative;
		width: 30px;
		height: 30px;
		border: none;
		outline: none;
		background-color: transparent;
		background-repeat: no-repeat;
		&:focus {
			// background-position-y: 108%;
		}
	}
	.account-button {
		background-image: url(@icons_url);
		.icon_position(1, 4, 0);
		.user-panel-container {
			position: absolute;
			width: 160px;
			text-align: left;
			padding: 20px;
			// height: 120px;
			right: 0;
			top: 30px;
			min-width: 50px;
			font-size: 12px;
			//width: 50px;
			// padding: 5px 10px;
			background-color: white;
			border-radius: 5px;
			.modal-box-shadow();
			color: @ks-color-gray-1;
			cursor: default;
			.username {
				padding-bottom: 5px;
				// margin: 20px;
				// text-align: center;
				// border-bottom: 1px solid #eee;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover{
					// color: @ks-color-gray-3;
				}
			}
			hr {
				margin-top: 10px;
				margin-bottom: 10px;
				border-color: #666;
			}
			.logout-btn {
				text-align: center;
				margin-top: 10px;
				width: 60px;
				height: 24px;
				line-height: 24px;
				background-color: #eee;
				border-radius: 2px;
				cursor: pointer;
				// margin-left: 30px;
				color: #666;
				&:hover {
					.ks-button-hover();
				}
			}
		}
	}
}

.app-drag-area {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
}

.app-tool-container {

	position: absolute;
	height: 40px;
	top: 5px;
	right: 20px;
	.button {
		width: 30px;
		height: 30px;
		background-image: url(@icons_url);
		margin-top: 2px;
		margin-left: 0;//10px;
		float: left;
	}

	.app-minimize {
		.icon_position(2,0,3);
		&:hover {
			.icon_position(0,0,3,0,1px);
		}
	}

	.app-maximize {
		.icon_position(2,1,3);
		&:hover {
			.icon_position(0,1,3,0,1px);
		}
		&.fullScreen {
			.icon_position(2,9,3,0,1px);
			&:hover {
				.icon_position(0,9,3);
			}
		}
	}

	.app-close {
		.icon_position(2,2,3);
		&:hover {
			.icon_position(0,2,3,0,1px);
		}
	}
}
